# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist/
build/

# Env files
.env
.env.local
.env.*.local

# IDE & system files
.vscode/
.idea/
.DS_Store
Thumbs.db
